# Config for playbook as network stability can be touchy

[defaults]
# Set a longer timeout for general tasks
timeout = 30
# Prevent the "Thundering Herd" by limiting concurrent connections (safe for 7 nodes)
forks = 3

[ssh_connection]
# Enable Pipelining to reuse SSH connections (huge speed boost)
pipelining = True
# If a connection drops randomly, try again up to 3 times before failing
retries = 3
# Optimize SSH for cross-VLAN stability AND ignore Semaphore's fingerprint trap
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=5 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null