# template file for Microk8s Worker Nodes for configuring NICs

network:
  version: 2
  ethernets:
    eth0:
      match:
        macaddress: "{{ ansible_eth0.macaddress }}"
      dhcp4: true
      set-name: "eth0"
    ens19:
      match:
        macaddress: "{{ ansible_ens19.macaddress }}"
      dhcp4: true
      set-name: "ens19"