# This file is a Jinja2 template used by Ansible.
# Injection file for ansible vault to add Homarr secret to 
# This template is used by playbook 54_deploy_secrets.yaml

# homarr-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: homarr-secrets
  namespace: homarr
type: Opaque
stringData:
  # The secret variable from your decrypted homar-vault.yaml is injected here.
  SECRET_ENCRYPTION_KEY: "{{ homarr_secret_key }}"