# This file is a Jinja2 template used by Ansible.
# Injection file for ansible vault to add plex secret to 
# This template is used by playbook 54_deploy_secrets.yaml
# Use: https://www.plex.tv/claim/  - to get a new token to add to secrets when first deploying

# plex-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: plex-secrets
  namespace: media
type: Opaque
stringData:
  # The secret variable from your decrypted plex-vault.yaml is injected here.
  plex_claim_token: "{{ PLEX_CLAIM_TOKEN }}"