# secrets for the postgreSQL databse.
# template for deploying the postgres-homarr-secret to k8s cluster

# postgres-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  # A unique name for the Secret
  name: postgres-homarr-secret
  namespace: homarr
  labels:
    app: postgrehomarr
type: Opaque # Default type for arbitrary user-defined data
data:
  # Key names often match expected environment variables
  POSTGRES_DB: "{{ postgres_db }}" # base64 encoded 'homarr'
  POSTGRES_USER: "{{ postgres_user }}" # base64 encoded 'postgres'
  # Replace YOUR_BASE64_ENCODED_PASSWORD with the actual base64 encoded password
  POSTGRES_PASSWORD: "{{ postgres_password }}"  #echo -n testPass1234! | base64 